<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!--낮은 버전(버전9 이하)을 사용할때 필터설정(한글사용)-->
    <filter>
        <filter-name>SetCharEncoding</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetCharEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>INIT_PARAM</param-name>
        <param-value>web.xml의 초기화 매개변수</param-value>
    </context-param>

    <!--오라클 파라미터-->
    <context-param>
        <param-name>OracleDriver</param-name>
        <param-value>oracle.jdbc.OracleDriver</param-value>
    </context-param>
    <context-param>
        <param-name>OracleURL</param-name>
        <param-value>jdbc:oracle:thin:@localhost:1521:XE</param-value>
    </context-param>
    <context-param>
        <param-name>OracleID</param-name>
        <param-value>scott</param-value>
    </context-param>
    <context-param>
        <param-name>OraclePwd</param-name>
        <param-value>TIGER</param-value>
    </context-param>

    <!--오라클 파라미터2 다른 계정입니다.-->
    <context-param>
        <param-name>OracleURL2</param-name>
        <param-value>jdbc:oracle:thin:@10.100.203.73:1521:XE</param-value>
    </context-param>
    <context-param>
        <param-name>OracleID2</param-name>
        <param-value>haha</param-value>
    </context-param>
    <context-param>
        <param-name>OraclePwd2</param-name>
        <param-value>hoho</param-value>
    </context-param>

    <!--페이징 설정-->
    <context-param>
        <param-name>POSTS_PER_PAGE</param-name>
        <param-value>10</param-value>
    </context-param>
    <context-param>
        <param-name>PAGES_PER_BLOCK</param-name>
        <param-value>5</param-value>
    </context-param>

    <!--세션 시간설정-->
    <session-config>
        <session-timeout>20</session-timeout>   <!--분 단위로 설정-->
    </session-config>
    
    <servlet>
        <servlet-name>MovieController</servlet-name>
        <servlet-class>com.movieController.MovieController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieController</servlet-name>
        <url-pattern>/index.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecentMovieController</servlet-name>
        <servlet-class>com.movieController.RecentMovieController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecentMovieController</servlet-name>
        <url-pattern>/index2.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RandomMovieController</servlet-name>
        <servlet-class>com.movieController.RandomMovieController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RandomMovieController</servlet-name>
        <url-pattern>/index3.do</url-pattern>
    </servlet-mapping>




</web-app>
